/* Tag에 css 적용 */


#banner {
  height: 300px;
  background-color: yellow;
}


/* 자식선택자 사용 */

#banner > img {
  width: 100%;
}
#body > h1 {
  margin-top: 16px;
}

#product-list {
  display: flex;
  /* 줄 넘어가게 하는 옵션 */
  flex-wrap: wrap;
  margin-top: 12px;
}

/* Class에 css 적용 */
.product-card {
  width: 180px;
  height: 300px;
  /* background-color: gray; */
  margin-left: 12px;
  margin-bottom: 12px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 12px;
  overflow: hidden;
}
.product-img {
  width: 100%;
  height: 210px;
}
.product-contents {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.product-name {
  font-size: 14px;
}
.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}
.product-seller {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.product-avatar {
  width: 24px;
}

.product-link {
  /* text의 색이 변하지 않게함 */
  color: inherit;
  /* text의 밑줄이 사라짐 */
  text-decoration: none;
}
