* {
  /* 모든 tag에 기본적으로 margin, padding이 들어가있는 것을 지워준다 */
  margin: 0;
  padding: 0;
  /* 아래 코드가 필요한 이유 : Antd를 설치하면 거기서 정하는 라인 간격으로 변경되므로 */
  line-height: normal;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

/* Id에  css 적용 */
#header {
  height: 64px;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}
#header-area {
  width: 1024px;
  height: 100%;
  /* background-color: orange; */
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  /* 자식들을 양 끝으로 정렬 */
  justify-content: space-between;
}

#header-area img {
  width: 128px;
  height: 38px;
}

#body {
  height: 100vh;
  /* background-color: blue; */
  width: 1024px;
  /* 부모로부터 가운데 정렬 */
  margin: 0 auto;
  padding-bottom: 24px;
}
#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}
